<section class="main-section" id="proyectos">
  <div class="proyectos-title">
    <fa-icon icon="laptop-code"></fa-icon>
    <h1>Proyectos</h1>
  </div>
  <div class="proyectos-container">
    <!-- Proyecto 6 -->
    <a
      href="https://evolutionallservices.com/"
      target="_blank"
      class="proyecto-card"
      [appAnimateOnScroll]="'fade-up'"
      [animationDelay]="0"
    >
      <img src="/img/evolution.png" alt="Evolution All Services" />
      <div class="proyecto-info">
        <h2>Evolution All Services</h2>
        <p>Angular</p>
      </div>
    </a>
    <!-- Proyecto 1 -->
    <a
      href="https://phoenixcompany.us/"
      target="_blank"
      class="proyecto-card"
      [appAnimateOnScroll]="'fade-up'"
      [animationDelay]="0"
    >
      <img src="/img/phoenix.png" alt="Phoenix Company" />
      <div class="proyecto-info">
        <h2>Phoenix Company</h2>
        <p>WordPress</p>
      </div>
    </a>

    <!-- Proyecto 2 -->
    <a
      href="https://morellsplumbing.com/"
      target="_blank"
      class="proyecto-card"
      [appAnimateOnScroll]="'fade-up'"
      [animationDelay]="0"
    >
      <img src="/img/morells.png" alt="Morells Plumbing" />
      <div class="proyecto-info">
        <h2>Morells Plumbing</h2>
        <p>WordPress</p>
      </div>
    </a>

    <!-- Proyecto 3 -->
    <a
      href="https://erikremodeling.com/"
      target="_blank"
      class="proyecto-card"
      [appAnimateOnScroll]="'fade-up'"
      [animationDelay]="0"
    >
      <img src="/img/erik.png" alt="Erik Remodeling" />
      <div class="proyecto-info">
        <h2>Erik Remodeling</h2>
        <p>WordPress</p>
      </div>
    </a>

    <!-- Proyecto 4 -->
    <a
      href="https://elegantshowerdoors.us/"
      target="_blank"
      class="proyecto-card"
      [appAnimateOnScroll]="'fade-up'"
      [animationDelay]="0"
    >
      <img src="/img/elegant.png" alt="Elegant Shower Doors" />
      <div class="proyecto-info">
        <h2>Elegant Shower Doors</h2>
        <p>WordPress</p>
      </div>
    </a>

    <!-- Proyecto 5 -->
    <a
      href="https://blownawaysalonstudio.com/"
      target="_blank"
      class="proyecto-card"
      [appAnimateOnScroll]="'fade-up'"
      [animationDelay]="0"
    >
      <img src="/img/blown.png" alt="Blown Away Salon Studio" />
      <div class="proyecto-info">
        <h2>Blown Away Salon Studio</h2>
        <p>WordPress</p>
      </div>
    </a>
  </div>
</section>
