<footer class="footer">
  <div class="footer__container">
    <!-- Sección izquierda: info + logo -->
    <div class="footer__left">
      <h3 class="footer__title">{{ "FOOTER.TITLE" | translate }}</h3>
      <p class="footer__text">{{ "FOOTER.SUBTITLE" | translate }}</p>
      <div class="footer__socials">
        <a
          href="https://www.linkedin.com/in/juan-simon-berdugo-molero/"
          target="_blank"
          class="social-icon"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a
          href="https://instagram.com/berdugo.js"
          target="_blank"
          class="social-icon"
        >
          <i class="fab fa-instagram"></i>
        </a>
        <a href="mailto:juansimonberdugo@gmail.com" class="social-icon">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>

    <!-- Sección derecha: enlaces / navegación -->
    <div class="footer__right">
      <h4 class="footer__subtitle">{{ "FOOTER.QUICK_LINKS" | translate }}</h4>
      <ul class="footer__links">
        <li>
          <a href="#sobre-mi">{{ "FOOTER.ABOUT_ME" | translate }}</a>
        </li>
        <li>
          <a href="#proyectos">{{ "FOOTER.PORTFOLIO" | translate }}</a>
        </li>
        <li>
          <a href="#contact">{{ "FOOTER.CONTACT" | translate }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__bottom">
    <p>{{ "FOOTER.COPYRIGHT" | translate }}</p>
  </div>
</footer>
