.header {
  position: fixed;
  top: 10px;
  left: 50%; // Centramos horizontalmente
  transform: translateX(-50%); // Ajuste fino para centrar exacto
  padding: 6px 28px;
  z-index: 1000;
  border-radius: 25px;

  background-color: #ffffff80;

  backdrop-filter: blur(6px);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  width: max-content;
  // 🔹 Contenedor de navegación
  .header-container {
    display: flex;
    justify-content: center; // centramos el nav
    align-items: center;
  }

  // 🔹 Barra de navegación
  nav {
    display: flex;
    gap: 2rem; // separación elegante entre enlaces
  }

  nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: var(--color-text-light);
    transition: color 0.2s ease;
    font-family: var(--font-family);

    &:hover {
      color: var(--color-secondary);
    }
    &:active {
      color: var(--color-secondary);
    }
  }

  @media (max-width: 768px) {
    top: 15px;

    nav {
      gap: 1rem;
    }
  }
}
