<section
  class="experiencia experiencia-section yellow-section"
  id="experiencia"
>
  <div class="custom-background">
    <div class="experiencia-title">
      <fa-icon icon="briefcase"></fa-icon>
      <h1>{{ "EXPERIENCE.TITLE" | translate }}</h1>
    </div>

    <div class="experience-grid">
      <!-- Experiencia 1 -->
      <div
        class="experience-item"
        [appAnimateOnScroll]="'fade-up'"
        [animationDelay]="50"
      >
        <div class="job-header">
          <h3 class="job-title">
            {{ "EXPERIENCE.JOBS.WEBSIFFY.TITLE" | translate }}
          </h3>
          <h4 class="job-company">
            {{ "EXPERIENCE.JOBS.WEBSIFFY.COMPANY" | translate }}
            <span>- {{ "EXPERIENCE.JOBS.WEBSIFFY.LOCATION" | translate }}</span>
          </h4>
          <p class="job-dates">
            {{ "EXPERIENCE.JOBS.WEBSIFFY.DATES" | translate }}
          </p>
        </div>
        <div class="job-body">
          <p>
            <strong>{{
              "EXPERIENCE.JOBS.WEBSIFFY.DESCRIPTION" | translate
            }}</strong>
          </p>
          <ul>
            <li>
              {{ "EXPERIENCE.JOBS.WEBSIFFY.RESPONSIBILITY1" | translate }}
            </li>
            <li>
              {{ "EXPERIENCE.JOBS.WEBSIFFY.RESPONSIBILITY2" | translate }}
            </li>
          </ul>
        </div>
      </div>

      <!-- Experiencia 2 -->
      <div
        class="experience-item"
        [appAnimateOnScroll]="'fade-up'"
        [animationDelay]="100"
      >
        <div class="job-header">
          <h3 class="job-title">
            {{ "EXPERIENCE.JOBS.ERYS_CREATIVE.TITLE" | translate }}
          </h3>
          <h4 class="job-company">
            {{ "EXPERIENCE.JOBS.ERYS_CREATIVE.COMPANY" | translate }}
            <span
              >-
              {{ "EXPERIENCE.JOBS.ERYS_CREATIVE.LOCATION" | translate }}</span
            >
          </h4>
          <p class="job-dates">
            {{ "EXPERIENCE.JOBS.ERYS_CREATIVE.DATES" | translate }}
          </p>
        </div>
        <div class="job-body">
          <p>
            <strong>{{
              "EXPERIENCE.JOBS.ERYS_CREATIVE.DESCRIPTION" | translate
            }}</strong>
          </p>
          <ul>
            <li>
              {{ "EXPERIENCE.JOBS.ERYS_CREATIVE.RESPONSIBILITY1" | translate }}
            </li>
          </ul>
        </div>
      </div>

      <!-- Experiencia 3 -->
      <div
        class="experience-item"
        [appAnimateOnScroll]="'fade-up'"
        [animationDelay]="150"
      >
        <div class="job-header">
          <h3 class="job-title">
            {{ "EXPERIENCE.JOBS.SERTECA.TITLE" | translate }}
          </h3>
          <h4 class="job-company">
            {{ "EXPERIENCE.JOBS.SERTECA.COMPANY" | translate }}
            <span>- {{ "EXPERIENCE.JOBS.SERTECA.LOCATION" | translate }}</span>
          </h4>
          <p class="job-dates">
            {{ "EXPERIENCE.JOBS.SERTECA.DATES" | translate }}
          </p>
        </div>
        <div class="job-body">
          <p>
            <strong>{{
              "EXPERIENCE.JOBS.SERTECA.DESCRIPTION" | translate
            }}</strong>
          </p>
          <ul>
            <li>{{ "EXPERIENCE.JOBS.SERTECA.RESPONSIBILITY1" | translate }}</li>
          </ul>
        </div>
      </div>

      <!-- Experiencia 4 -->
      <div
        class="experience-item"
        [appAnimateOnScroll]="'fade-up'"
        [animationDelay]="200"
      >
        <div class="job-header">
          <h3 class="job-title">
            {{ "EXPERIENCE.JOBS.BEFASTER.TITLE" | translate }}
          </h3>
          <h4 class="job-company">
            {{ "EXPERIENCE.JOBS.BEFASTER.COMPANY" | translate }}
            <span>- {{ "EXPERIENCE.JOBS.BEFASTER.LOCATION" | translate }}</span>
          </h4>
          <p class="job-dates">
            {{ "EXPERIENCE.JOBS.BEFASTER.DATES" | translate }}
          </p>
        </div>
        <div class="job-body">
          <p>
            <strong>{{
              "EXPERIENCE.JOBS.BEFASTER.DESCRIPTION" | translate
            }}</strong>
          </p>
          <ul>
            <li>
              {{ "EXPERIENCE.JOBS.BEFASTER.RESPONSIBILITY1" | translate }}
            </li>
            <li>
              {{ "EXPERIENCE.JOBS.BEFASTER.RESPONSIBILITY2" | translate }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
