<section class="experiencia" id="experiencia">
  <div class="custom-background">
    <div class="experiencia-title">
      <fa-icon icon="briefcase"></fa-icon>
      <h1>Experiencia Laboral</h1>
    </div>

    <div class="experience-grid">
      <!-- Experiencia 1 -->
      <div
        class="experience-item"
        [appAnimateOnScroll]="'fade-up'"
        [animationDelay]="50"
      >
        <div class="job-header">
          <h3 class="job-title">WordPress Developer (Elementor & Divi)</h3>
          <h4 class="job-company">
            Websiffy <span>- Nueva Esparta, Venezuela</span>
          </h4>
          <p class="job-dates">Feb 2025 – Jun 2025</p>
        </div>
        <div class="job-body">
          <p>
            <strong>Creación de más de 18 sitios web responsivos</strong> para
            clientes en EE.UU. y Latinoamérica.
          </p>
          <ul>
            <li>
              Implementación de funciones personalizadas con plugins y ajustes
              de código.
            </li>
            <li>
              Colaboración con diseñadores para garantizar entregas puntuales y
              de alta calidad.
            </li>
          </ul>
        </div>
      </div>

      <!-- Experiencia 2 -->
      <div
        class="experience-item"
        [appAnimateOnScroll]="'fade-up'"
        [animationDelay]="100"
      >
        <div class="job-header">
          <h3 class="job-title">Freelance WordPress Developer</h3>
          <h4 class="job-company">
            Erys Creative <span>- Florida, Estados Unidos</span>
          </h4>
          <p class="job-dates">Dec 2024 – Feb 2025</p>
        </div>
        <div class="job-body">
          <p>
            <strong>Desarrollo de 6 sitios web personalizados</strong>
            enfocados en experiencia de usuario.
          </p>
          <ul>
            <li>
              Optimización de tiempos de carga y soporte post-lanzamiento.
            </li>
          </ul>
        </div>
      </div>

      <!-- Experiencia 3 -->
      <div
        class="experience-item"
        [appAnimateOnScroll]="'fade-up'"
        [animationDelay]="150"
      >
        <div class="job-header">
          <h3 class="job-title">Full-Stack Developer / Soporte Técnico</h3>
          <h4 class="job-company">
            Serteca <span>- Maracaibo, Venezuela</span>
          </h4>
          <p class="job-dates">Sep 2024 – Nov 2024</p>
        </div>
        <div class="job-body">
          <p>
            <strong>Desarrollo de base de una API RESTful</strong> y del
            front-end para un sistema ERM.
          </p>
          <ul>
            <li>
              Capacitación a desarrolladores sobre GitHub y configuración de
              repositorios.
            </li>
          </ul>
        </div>
      </div>

      <!-- Experiencia 4 -->
      <div
        class="experience-item"
        [appAnimateOnScroll]="'fade-up'"
        [animationDelay]="200"
      >
        <div class="job-header">
          <h3 class="job-title">Front-End Developer / Soporte Técnico</h3>
          <h4 class="job-company">
            Befaster <span>- Santiago de Chile, Chile</span>
          </h4>
          <p class="job-dates">Sep 2023 – Sep 2024</p>
        </div>
        <div class="job-body">
          <p>
            <strong>Corrección de +600 errores tipográficos</strong> y adición
            de elementos personalizables para comercios.
          </p>
          <ul>
            <li>
              Diseño de interfaces de usuario y pantallas de inicio de sesión.
            </li>

            <li>
              Implementación de módulo de direcciones y configuración de monedas
              para usuarios internacionales.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
