<section id="inicio" class="main-section">
  <div
    class="main-info"
    [appAnimateOnScroll]="'long-fade-up'"
    [animationDelay]="10"
  >
    <img src="img/pfp-yellow.png" class="main-image" />
    <h1 class="main-title">Hola, soy Juan Simón</h1>
    <p class="main-description">
      +2 año de experiencia.
      <strong class="span"
        >Ingeniero en Computación y Desarrollador Web.</strong
      >
      Enfocado en desarrollo front-end y construcción de experiencias digitales
      atractivas. Siempre aprendiendo y adaptándome a nuevas tecnologías.
    </p>
  </div>
  <!-- Burbujas -->
  <div class="bubbles">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>
