<section id="inicio" class="main-section">
  <div
    class="main-info"
    [appAnimateOnScroll]="'long-fade-up'"
    [animationDelay]="10"
  >
    <img src="img/pfp-yellow.png" class="main-image" />
    <h1 class="main-title">
      {{ "HERO.TITLE" | translate }}
    </h1>
    <p class="main-description">
      {{ "HERO.SUBTITLE1" | translate }}

      <strong class="span"> {{ "HERO.SPAN" | translate }} </strong>
      {{ "HERO.SUBTITLE2" | translate }}
    </p>
    <div class="calltoaction yellow-section">
      <a class="contact-button" href="#contacto">
        <fa-icon icon="envelope"></fa-icon>
        {{ "BUTTONS.CONTACT_ME" | translate }}
      </a>
      <a
        class="linkedin-button"
        href="https://www.linkedin.com/in/juan-simon-berdugo-molero/"
        target="_blank"
      >
        <i class="fab fa-linkedin"></i>Linkedin
      </a>
    </div>
  </div>
  <!-- Burbujas -->
  <div class="bubbles">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</section>
