<section id="inicio" class="main-section">
  <div
    class="main-info"
    [appAnimateOnScroll]="'long-fade-up'"
    [animationDelay]="10"
  >
    <img src="img/pfp-yellow.png" class="main-image" />
    <h1 class="main-title">Hola, soy Juan Simón</h1>
    <p class="main-description">
      +2 año de experiencia. Ingeniero en Computación y Desarrollador Web de
      Venezuela. Enfocado en desarrollo front-end y construcción de experiencias
      digitales atractivas. Siempre aprendiendo y adaptándome a nuevas
      tecnologías.
    </p>
  </div>
</section>
