<section class="main-section sobre-mi" id="sobre-mi">
  <div class="sobremi-wrapper">
    <!-- Imagen / Avatar -->
    <div class="sobremi-image" [appAnimateOnScroll]="'fade-left'">
      <img src="/img/sobremi.png" alt="Ilustración desarrollador" />
    </div>

    <!-- Presentación -->
    <div
      class="sobremi-card"
      [appAnimateOnScroll]="'fade-right'"
      [animationDelay]="100"
    >
      <div class="sobremi-title">
        <fa-icon icon="user-check"></fa-icon>
        <h1>{{ "ABOUT.TITLE" | translate }}</h1>
      </div>

      <p>
        {{ "ABOUT.PART1" | translate
        }}<strong>{{ "ABOUT.NAME" | translate }}</strong
        >{{ "ABOUT.PART2" | translate
        }}<strong>{{ "ABOUT.SPECIALTY" | translate }}</strong
        >{{ "ABOUT.PART3" | translate }}
      </p>
    </div>

    <!-- Trayectoria -->
    <div
      class="sobremi-detail"
      [appAnimateOnScroll]="'fade-right'"
      [animationDelay]="300"
    >
      <p>
        {{ "ABOUT.PART4" | translate
        }}<strong>{{ "ABOUT.COMPANY1" | translate }}</strong
        >{{ "ABOUT.PART5" | translate
        }}<strong>{{ "ABOUT.COMPANY2" | translate }}</strong
        >{{ "ABOUT.PART6" | translate
        }}<strong>{{ "ABOUT.TECH1" | translate }}</strong
        >{{ "ABOUT.PART7" | translate
        }}<strong>{{ "ABOUT.TECH2" | translate }}</strong
        >{{ "ABOUT.PART8" | translate }}
      </p>
    </div>
  </div>
</section>
